.pixel {
    border: 1px solid gray;
    /*min-width: 48px;
    min-height: 48px;*/
    display: inline-block;
    margin-right: -1px;
    background-color:white;
    user-select: none;
  }

.row {
    /*height: 48px;*/
}

  #container {
      width: 800px;
      height: 800px;
  }