.pixel {
    border: 1px solid gray;
    /*min-width: 48px;
    min-height: 48px;*/
    display: inline-block;
    margin-right: -1px;
    background-color: #FFFFFF;
    user-select: none;
  }

.row {
    /*height: 48px;*/
}

body {
    display: flex;
    background-color: rgb(49, 49, 49);
    color: rgb(230, 230, 230);
    font-family: 'Abel', Arial, Helvetica, sans-serif;
}

.side-panel, .outer-box {
    background-color: rgb(110, 110, 110);
    margin: 10px;
    border-radius: 15px;
}

.side-panel {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 30px;
    gap: 5px;
    text-align: center;
}

.outer-box {
    border: 1px solid gray;
    width: 820px;
    height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 800px;
    height: 800px;
}

 